/*#region MAIN */
html{
    word-break: break-all;
    background-color: white;
    width: 100%;
    font-family: 'Thasadith', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
header{
    width: 80%;
    margin: 0 auto;
    line-height: 10px;
}

header #logo{
    font-weight: bold;
    font-size: 28px;
}
header #logo_desc{
    font-size: 18px;
}
nav{
    width: 100%;
    height: 35px;
    background-color: black;
}

#nav-bar{
    width: 80%;
    margin: 0 auto;
}

#nav-bar a{
    font-size: 18px;
    margin-left: 20px;
    float: left;
    display: block;
    text-decoration: none;
    line-height: 35px;
    color: white;
}
#nav-bar a:hover{
    text-decoration: underline;
}

main{
    width: 100%;
    margin: 0 auto;
    background-color: #c5c5c5;
    text-align: center;
}
#wrap{
    width: 80%;
    margin: 0 auto 10px;
    display: inline-flex;
    justify-content: space-evenly;
}
section{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 75%;
}

section:last-of-type{
    display: flex;
    width: 25%;
}

article{
    text-align: left;
    margin-top: 10px;
    width: 48%;
    height: 290px;
    background-color: white;
    box-shadow: 0 0 2px 2px #9b9b9b;
}

article.big{
    width: 90%;
    height: auto;
}
section:last-of-type article{
    width: 100%;
    height: 150px;
}
section:last-of-type article:last-of-type{
    width: 100%;
    height: 120px;
    margin-top: 9px;
}
footer{
    width: 100%;
    height: 35px;
    background-color: black;
}

.sideart a{
    text-decoration: none;
    float: left;
    width: 100%;
    margin-left: 12px;
    font-size: 14px;
    color: black;
}
.sideart h1{
    font-size: 14px;
}
.sideart a:hover{
    color: gray;
}
article h1{
    margin-left: 9px;
    height: 10px;
    font-size: 24px;
}
p.desc{
    height: 15px;
    margin-left: 9px;
    font-size: 12px;
    color:gray;
}

article p{
    font-size: 16px;
    width: 96%;
    margin-left: 9px;
    height: 40%;
}

.readmore{
    line-height: 25px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    margin-left: 5px;
    width: 90px;
    height: 25px;
    background-color: #de002e;
    box-shadow: 0 0 1px 1px #a7a7a7;
    text-shadow: 0 0 2px 2px black;
}

.readmore:hover{
    background-color: #d3002d;
}
#nav-bar-dropdown{
    display: none;
}
#drop {
    display: none;
}
#drop.show {
    -webkit-animation: in 700ms ease both;
    animation: in 700ms ease both;
}

#drop.hide {
    -webkit-animation: out 700ms ease both;
    animation: out 700ms ease both;
}
@keyframes in {
    0% { transform: scaleY(0); opacity: 0;}
    100% { transform: scaleY(1); opacity: 1;}
}
@keyframes out {
    0% { transform: scaleY(1); opacity: 1;}
    100% { transform: scaleY(0); opacity: 0;}
}

#drop a{
    width: 100%;
    font-size: 18px;
    float: left;
    display: block;
    text-decoration: none;
    background-color: black;
    line-height: 35px;
    color: white;
}
#drop a:hover{
    text-decoration: underline;
}


.sideart.mg a{
    text-align: center;
    margin: unset;
    line-height: 75px;
    font-size: 18px;
}

article.sideart.mg{
    height: 75px;
}
article p:last-of-type{
    width: 97%;
    border-top: 1px solid #d2d2d2;
    color: #9f9f9f;
    font-size: 13px;
    font-weight: bold;
    margin: 5px auto 0;
    padding-top: 5px;
}
article.big{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.scale{
    display: block;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

article.big p{
    height: auto;
}

article.big form{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

#msg{
    width: 100%;
    height: 150px;
}
#login{
    color: white;
    float: right;
    margin-right: 50px;
    line-height: 35px;
}
#login a{
    font-weight: bolder;
    color: lightskyblue;
    text-decoration: none;
}

.comment{
    width: 100%;
    color: black;
    border-bottom: 1px solid gray;
    margin-top: 5px;
}
.comment p:first-of-type{
    font-weight: bold;
    float: left;
    width: 50%;
}

.comment p:nth-of-type(3){
    width: 50%;
    float: left;
    color: gray;
}

.comment p:last-of-type{
    border-top: 1px solid lightgray;
    float: left;
    width: 100%;
}

.comment p.rm{
    text-decoration: none;
    color: red;
    width: 100%;
}

p.rm:hover{
    cursor: pointer;
    color: gray;
}

/*#endregion*/

@media screen and (max-width:700px) {
    header{
        text-align: center;
    }
    #wrap{
        flex-direction: column;
    }
    section{
        width: 100%;
    }
    section:last-of-type{
        width: 100%;
    }
    section:last-of-type article, section:last-of-type article:last-of-type{
        width: 97%;
    }
    article.big{
        width: 95%;
    }
    #nav-bar{
        display: none;
    }
    #nav-bar-dropdown{
        display: block;
        transition: 0.1s ease-in-out;
    }

    #menu{
        display: inline-block;
        font-size: 15px;
        line-height: 35px;
        color: white;
        background-color: black;
        height: 100%;
        width: 100px;
        border: 0;
    }
    #menu:hover{
        cursor: pointer;
    }
    #menu img{
        filter: invert(100%);
    }
}

@media screen and (max-width:550px) {
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    #wrap{
        margin-top: 8px;
        width: 100%;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    section, section:last-of-type{
        display: inline-flex;
        width: 100%;
    }
    article{
        width: 95%;
    }
    section:last-of-type article{
        width: 95%;
    }
    section:last-of-type article:last-of-type{
        width: 95%;
    }
    article p{
        font-size: 14px;
    }

    .readmore{
        margin-top: 25px;
    }


}
